# pycharm files
.idea/
*.iml
*.iws
*.xml

# data
data/
*.joblib
*.pkl
*.csv
*.json

# figures
figures/

# latex metadata
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
writing/
*.DS_Store
*.pdf
*.png
/README.txt
